{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": true
                }
            }
        ]
    ],
    "ignore": [
        "/node_modules",
        "/build"
    ],
    "sourceType": "module"
}